@use "../../scss/style.scss" as *;

.congrats {
  background: $background-color;
  &__container {
    min-height: 100vh;
    @include flex(row, center);
    width: 90vw;
    gap: $spacing-lg;
    margin-inline: auto;
  }
  &__card {
    min-width: 300px;
    background: $secondary-color;
    padding: $spacing-xl;
    border-radius: $rounded-md;
    color: $on-primary;
    @include flex(column);
    @include clay2;
    gap: $spacing-xl;
  }
  &__text {
    color: $on-primary;
  }
  &__button {
    color: $on-primary;
    @include clay2;
    border: transparent;
    padding-inline: $spacing-lg;

    &:hover {
      @include pressed;
    }
  }
}

.table {
  display: flex(column, center);
  @include clay2;
  padding-block: $spacing-md;

  tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $spacing-md;
    margin-bottom: $spacing-md;
  }
  td,
  th {
    place-self: center;
    gap: $spacing-lg;
  }

  &__tr--active {
    background-color: $secondary-color;
    color: $on-primary;
    padding-block: $spacing-sm;
  }
}
