@use "../../scss/style.scss" as *;

.quiz {
  &__container {
    @include flex(column, center);
    height: 100vh;
    position: relative;
    z-index: 1;
    background: $background2-color;
  }
  &__bg {
    width: 100%;
    &::before,
    &::after {
      @include pseudo;
      width: 300px;
      height: 300px;
      border-radius: $rounded-full;
      z-index: -1;
    }
    &::before {
      background: $gradient;
      @include corner(top, 50%, left, 50%);
      transform: translate(-130%, -80%);
    }
    &::after {
      background: $gradient;
      bottom: 50%;
      right: 50%;
      transform: translate(130%, 80%);
    }
  }
  &__timer {
    margin: $spacing-md;
    width: 70px;
    height: 70px;
    position: relative;
    @include flex(row, center);
    border: none;
    // @include glass;
    background: $gradient;
    border-radius: $rounded-full;
    z-index: 1;

    &-count {
      font-size: 2rem;
      font-weight: $font-heavy;
      color: $on-primary;
    }
  }
}
