@use "../../scss/style.scss" as *;

.quiz {
  &__container {
    @include flex(column, center);
    height: 100vh;
    position: relative;
    z-index: 1;
    background: $background2-color;
  }
  &__bg {
    width: 100%;
    &::before,
    &::after {
      @include pseudo;
      width: 300px;
      height: 300px;
      border-radius: $rounded-full;
      z-index: -1;
    }
    &::before {
      background: linear-gradient(var(--primary-color), #e91e63);
      top: 50%;
      left: 50%;
      transform: translate(-130%, -80%);
    }
    &::after {
      background: linear-gradient(var(--primary-color), #e91e63);
      bottom: 50%;
      right: 50%;
      transform: translate(130%, 80%);
    }
  }
}
