@use "../../scss/style.scss" as *;

.selection {
  min-height: 100vh;
  background: $selection-background;
  @include flex(row, center);
  &__form {
    @include flex(row, center);
    width: min(300px, 400px);

    padding: $spacing-3xl $spacing-md;
    gap: $spacing-lg;
    background: $selection-background;
    @include clay2;
    color: var(--on-surface);
    border-radius: 30px;
  }
  &__input,
  &__group,
  &__select,
  &__button {
    width: 100%;
  }
  &__input,
  &__select,
  &__button {
    border-radius: $rounded-md;
    padding-block: $spacing-sm;
    @include clay2;
  }
  &__input,
  &__select {
    text-indent: $spacing-sm;
  }
  &__input {
    outline: none;
    border: none;
    text-transform: capitalize;

    &::placeholder {
      padding-left: $spacing-sm;
      color: var(--sub-text-color);
    }
  }
  &__group {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: $spacing-sm;
    border: transparent;
  }
  &__label {
    font-size: $font-sm;
    border-left: 4px solid #fff;
    padding-left: 4px;
    text-transform: uppercase;
  }
  &__select {
    color: var(--sub-text-color);
    outline: none;
    border: none;
  }
  &__button {
    background: rgba(255, 255, 255, 1);
    border: transparent;
    color: #000;
    &:disabled {
      color: rgba(0, 0, 0, 0.2);
    }
    &:hover {
      @include depression2(rgba(0, 0, 0, 0.1));
      // @include clay3($secondary-color);
    }
  }
  input ~ span {
    display: none;
  }
  input:invalid[focused="true"] ~ span {
    display: block;
  }
}
