@use "../../../scss/style.scss" as *;

.card {
  width: 400px;
  min-height: 400px;
  @include flex(row, center);
  @include glass;
  z-index: 10;
  text-align: center;
  &__wrapper {
    padding: $spacing-md $spacing-xl;
  }
  &__indicator {
  }
  &__questionBox {
    padding-block: $spacing-lg;
    line-height: 1.5;
  }
  &__question {
    font-weight: $font-heavy;
    color: var(--on-background);
  }
  &__answerBox {
    @include flex(column);
    align-items: flex-start;
    padding-bottom: $spacing-md;
  }
}
